@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scroll-behavior: smooth;
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}
.custom-card {
  transition: transform 0.3s, opacity 0.3s;
  transform: translateY(50px);
  opacity: 0.5;
}

.custom-card.active {
  transform: translateY(0);
  opacity: 1;
}

.custom-gradient-1 {
  background-color: hsla(0, 40%, 76%, 1);
  background-image:
    radial-gradient(at 40% 20%, hsla(19, 0%, 100%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 0%, hsla(287, 100%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 50%, hsla(355, 0%, 100%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 50%, hsla(339, 71%, 56%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(65, 0%, 100%, 0.76) 0px, transparent 50%),
    radial-gradient(at 80% 100%, hsla(242, 100%, 70%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(343, 0%, 100%, 1) 0px, transparent 50%);
}

.custom-gradient-2 {
  background-color: hsla(0, 0%, 97%, 1);
  background-image:
    radial-gradient(at 55% 40%, hsla(145, 0%, 100%, 1) 0px, transparent 50%),
    radial-gradient(at 57% 17%, hsla(294, 0%, 100%, 1) 0px, transparent 50%),
    radial-gradient(at 40% 12%, hsla(202, 0%, 100%, 1) 0px, transparent 50%),
    radial-gradient(at 74% 14%, hsla(349, 64%, 70%, 1) 0px, transparent 50%),
    radial-gradient(at 74% 63%, hsla(229, 73%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 29% 44%, hsla(93, 0%, 100%, 1) 0px, transparent 50%),
    radial-gradient(at 19% 98%, hsla(257, 57%, 58%, 1) 0px, transparent 50%);
}

.custom-gradient-3 {
  background-color: hsla(0, 40%, 76%, 1);
  background-image:
    radial-gradient(at 40% 20%, hsla(127, 0%, 100%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 0%, hsla(35, 100%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 50%, hsla(103, 0%, 100%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 50%, hsla(87, 71%, 56%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(173, 0%, 100%, 0.76) 0px, transparent 50%),
    radial-gradient(at 80% 100%, hsla(350, 100%, 70%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(91, 0%, 100%, 1) 0px, transparent 50%);
}

.custom-gradient-4 {
  background-color: hsla(0, 0%, 97%, 1);
  background-image:
    radial-gradient(at 55% 40%, hsla(145, 0%, 100%, 1) 0px, transparent 50%),
    radial-gradient(at 57% 17%, hsla(294, 0%, 100%, 1) 0px, transparent 50%),
    radial-gradient(at 40% 12%, hsla(202, 0%, 100%, 1) 0px, transparent 50%),
    radial-gradient(at 74% 14%, hsla(349, 87%, 49%, 1) 0px, transparent 50%),
    radial-gradient(at 74% 63%, hsla(24, 72%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 29% 44%, hsla(0, 69%, 47%, 1) 0px, transparent 50%),
    radial-gradient(at 19% 98%, hsla(17, 50%, 51%, 1) 0px, transparent 50%);
}

.custom-card {
  max-width: 1400px; /* Adjust the width as necessary */
  width: 100%;
}



.scroll-column {
  display: flex;
  flex-direction: column;
}

.scroll-column.fast {
  animation: scroll 10s linear infinite;
}

.scroll-column.slow {
  animation: scroll 20s linear infinite;
}

.neon-star {
  color: #ff8c00; /* neon orange */
  fill: #ff8c00; /* neon orange */
  text-shadow:
    0 0 5px #ff8c00,
    0 0 10px #ff8c00,
    0 0 15px #ff8c00,
    0 0 20px #ff8c00,
    0 0 25px #ff8c00,
    0 0 30px #ff8c00;
}

body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

body.dark-mode .bg-white {
  background-color: #1e1e1e;
}

body.dark-mode .text-gray-800 {
  color: #ffffff;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 24.6 95% 53.1%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 24.6 95% 53.1%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 20.5 90.2% 48.2%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 20.5 90.2% 48.2%;
  }
}
@media (min-width: 640px) {
  .custom-card {
    max-width: 400px; /* Ensure a smaller width on larger screens */
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
@layer utilities {
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .gradient1 {
    background-image: radial-gradient(
      164.75% 100% at 50% 0,
      #66331a 0,
      #0c0a09 48.73%
    );
  }

  .gradient2 {
    background-image: radial-gradient(
      164.75% 100% at 50% 0,
      #ff8a51 0,
      #f8d3c0 48.73%
    );
  }

  .features-row-border {
    background: linear-gradient(
      270deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.12) 49.48%,
      rgba(255, 255, 255, 0) 100%
    );
  }
  
  .features-row-border-light {
    background: linear-gradient(
      270deg,
      #ff8a51 0%,
      #f8d3c0 49.48%,
      rgba(255, 255, 255, 0.864) 100%
    );
  }
  
  .features-bg {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.05) 100%
    );
    -webkit-transition: 0.45s cubic-bezier(0.6, 0.6, 0, 1) opacity;
    transition: 0.45s cubic-bezier(0.6, 0.6, 0, 1) opacity;
  }
  
  .features-bg-light {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.237) 0%,
      rgba(245, 143, 65, 0.237) 100%
    );
    -webkit-transition: 0.45s cubic-bezier(0.6, 0.6, 0, 1) opacity;
    transition: 0.45s cubic-bezier(0.6, 0.6, 0, 1) opacity;
  }
  
}
::selection {
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
  @apply bg-primary text-white;
}

::-webkit-scrollbar {
  @apply bg-muted w-2;
}

::-webkit-scrollbar-thumb {
  @apply bg-primary rounded-md;
}

.codex-editor {
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;
  height: 100vh;
}
.codex-editor::-webkit-scrollbar {
  display: none;
}

.codex-editor--narrow .codex-editor__redactor {
  padding-bottom: 50px !important;
  margin-right: 30px !important;
}

::selection {
  background: #ea580ce6;
}

.ce-toolbar__content {
  @apply dark:invert;
}

.ce-popover .ce-popover--opened {
  right: 1.5rem !important;
}

.ce-popover {
  top: 2.5rem;
  left: 0;
  right: 0;
  bottom: unset;
}

.tc-toolbox--showed {
  background-color: aliceblue;
}
.tc-popover__item-label {
  color: black;
}
.tc-popover__item-icon {
  background-color: black !important;
}

.gradientBackground{
  background-image: linear-gradient(to bottom right, red, yellow);
}

